# コードの初期ロード設定
# 初期ロードを行う。
loadCodeOnStartUp=true

# メッセージの初期ロード設定
# 初期ロードを行う。
loadMessageOnStartUp=true

# 業務日付のデフォルト区分
businessDateDefaultSegment=00

# validation時に精査対象の値にnullを許可するか否か
validationConvertorAllowNullValue=true

# 静的コンテンツのバージョン
static_content_version=1.0

# hidden項目の暗号化を利用するかどうか
useHiddenEncryption=false
